<%= form_for(@business) do |f| %>
  <% if @business.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
      <% @business.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :corporate_name, "Razão Social" %><br>
    <%= f.text_field :corporate_name %>
  </div>
  <div class="field">
    <%= f.label :nickname, "Apelido" %><br>
    <%= f.text_field :nickname %>
  </div>
  <div class="field">
    <%= f.label :segment, "Ramo de atuação" %><br>
    <%= f.text_field :segment %>
  </div>
  <div class="field">
    <%= f.label :cnpj, "CNPJ" %><br>
    <%= f.text_field :cnpj %>
  </div>
  <div class="field">
    <%= f.label :state_registration, "Inscrição Estadual" %><br>
    <%= f.text_field :state_registration %>
  </div>
  <div class="field">
    <%= f.label :address, "Endereço" %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :number, "Número" %><br>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :complement, "Complemeto" %><br>
    <%= f.text_field :complement %>
  </div>
  <div class="field">
    <%= f.label :district, "Bairro" %><br>
    <%= f.text_field :district %>
  </div>
  <div class="field">
    <%= f.label :city, "Cidade" %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :cep, "CEP" %><br>
    <%= f.text_field :cep %>
  </div>
  <div class="field">
    <%= f.label :uf, "UF" %><br>
    <%= f.text_field :uf %>
  </div>
  <div class="field">
    <%= f.label :country, "País" %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :phone1, "Telefone Principal" %><br>
    <%= f.text_field :phone1 %>
  </div>
  <div class="field">
    <%= f.label :phone2, "Telefone Secndário" %><br>
    <%= f.text_field :phone2 %>
  </div>
  <div class="field">
    <%= f.label :fax, "Fax" %><br>
    <%= f.text_field :fax %>
  </div>
  <div class="field">
    <%= f.label :email, "Email" %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :url, "Site" %><br>
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
