
<h1><i class="fa fa-building-o"></i> Empresas</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Apelido</th>
      <th>Segmento</th>
      <th>Contatos</th>
      <th>Cidade</th>
      <th>UF</th>
      <th>País</th>
      <th>Telefone</th>
      <th>Email</th>
      <th>Site</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @businesses.each do |business| %>
      <tr>
        <td> <a href="/businesses/<%= business.id %>"><%= business.id %></a></td>
        <td><%= business.nickname %></td>
        <td><%= business.segment %></td>
        <td>
        <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    <i class="fa fa-users"></i>
    <span class="caret"></span>
  </button><ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu4">
  <% business.contacts.each do |contact| %>
  <li role="presentation"> 
<a href="/contacts/<%= contact.id %>"><%= contact.name %> </a></li>
<% end %>
</ul>
</div></td>
        <td><%= business.city %></td>
        <td><%= business.uf %></td>
        <td><%= business.country %></td>
        <td><%= business.phone1 %></td>
</td>
        <td><a href="mailto:<%= business.email %>"><%= business.email %></a> </td>
        <td><a href="http://<%= business.url %>" target="blank"><%= business.url %></a> </td>
<td> 
  <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    <i class="fa fa-cog"></i>
    <span class="caret"></span>
  </button><ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu4">
  <li role="presentation"><!--<i class="fa fa-eye"></i>-->
  <%= link_to 'Ver', business %></li>
  <li role="presentation"><!--<i class="fa fa-pencil-square-o">-->
  </i> <%= link_to 'Editar', edit_business_path(business) %></li>
  <li role="presentation" class="disabled"><!--<i class="fa fa-trash-o">-->
  </i> <%= link_to 'Excluir', business, method: :delete, data: { confirm: 'Você tem certeza?' } %></li>
</ul>
</div></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_business_path, class: "btn btn-primary" do %>
    <i class="fa fa-plus"></i> Nova Empresa
<% end %>


