<p id="notice"><%= notice %></p>

<p>
  <strong>Corporate name:</strong>
  <%= @business.corporate_name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @business.nickname %>
</p>

<p>
  <strong>Segment:</strong>
  <%= @business.segment %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @business.cnpj %>
</p>

<p>
  <strong>State registration:</strong>
  <%= @business.state_registration %>
</p>

<p>
  <strong>Address:</strong>
  <%= @business.address %>
</p>

<p>
  <strong>Number:</strong>
  <%= @business.number %>
</p>

<p>
  <strong>Complement:</strong>
  <%= @business.complement %>
</p>

<p>
  <strong>District:</strong>
  <%= @business.district %>
</p>

<p>
  <strong>City:</strong>
  <%= @business.city %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @business.cep %>
</p>

<p>
  <strong>Uf:</strong>
  <%= @business.uf %>
</p>

<p>
  <strong>Country:</strong>
  <%= @business.country %>
</p>

<p>
  <strong>Phone1:</strong>
  <%= @business.phone1 %>
</p>

<p>
  <strong>Phone2:</strong>
  <%= @business.phone2 %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @business.fax %>
</p>

<p>
  <strong>Email:</strong>
  <%= @business.email %>
</p>

<p>
  <strong>Url:</strong>
  <%= @business.url %>
</p>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
