<h1> Visualizando Empresa</h1>
  <div class="row">
  <div class="form-group">
     <div class="col-md-8">
        <label>Razão Social</label>
        <input class="form-control" disabled="" value="<%= @business.corporate_name%>">
     </div>
  </div>
  </div>
  <div class="row">
    <div class="form-group">
     <div class="col-md-4">
        <label>Apelido</label>
        <input class="form-control" disabled="" value="<%= @business.nickname%>">
     </div>
     <div class="col-md-4">
        <label>Segmento</label>
        <input class="form-control" disabled="" value="<%= @business.segment%>">
     </div>
  </div>
  </div>
  <div class="row">
    <div class="form-group">
     <div class="col-md-4">
        <label>CNPJ</label>
        <input class="form-control" disabled="" value="<%= @business.cnpj%>">
     </div>
     <div class="col-md-4">
        <label>Inscrição Estadual</label>
        <input class="form-control" disabled="" value="<%= @business.state_registration%>">
     </div>
  </div>
  </div>
  <div class="row">
    <div class="form-group">
     <div class="col-md-6">
        <label>Endereço</label>
        <input class="form-control" disabled="" value="<%= @business.address%>">
     </div>
     <div class="col-md-2">
        <label>Nº</label>
        <input class="form-control" disabled="" value="<%= @business.number%>">
     </div>
  </div>
  </div>
  <div class="row">
    <div class="form-group">
     <div class="col-md-4">
       <label>Bairro</label>
       <input class="form-control" disabled="" value="<%= @business.district%>">
     </div>
      <div class="col-md-4">
        <label>Cidade</label>
        <input class="form-control" disabled="" value="<%= @business.city%>">
     </div>
  </div>
  </div>
  <div class="row">
    <div class="form-group">
    <div class="col-md-5">
        <label>Complemeto</label>
        <input class="form-control" disabled="" value="<%= @business.complement%>">
     </div>
     <div class="col-md-2">
        <label>CEP</label>
        <input class="form-control" disabled="" value="<%= @business.cep%>">
     </div>
      <div class="col-md-1">
       <label>UF</label>
       <input class="form-control" disabled="" value="<%= @business.uf%>">
     </div>
  </div>
  </div>
  <div class="row">
    <div class="form-group">
    <div class="col-md-3">
        <label>FAX</label>
        <input class="form-control" disabled="" value="<%= @business.fax%>">
     </div>
     <div class="col-md-5">
        <label>País</label>
        <input class="form-control" disabled="" value="<%= @business.country%>">
     </div>
  </div>
  </div>
  <div class="row">
    <div class="form-group">
    <div class="col-md-4">
        <label>Telefone 1</label>
        <input class="form-control" disabled="" value="<%= @business.phone1%>">
     </div>
     <div class="col-md-4">
        <label>Telefone 2</label>
        <input class="form-control" disabled="" value="<%= @business.phone2%>">
     </div>
  </div>
  </div>
  <div class="row">
    <div class="form-group">
    <div class="col-md-4">
        <label>Email</label>
        <input class="form-control" disabled="" value="<%= @business.email%>">
     </div>
     <div class="col-md-4">
        <label>Site</label>
        <input class="form-control" disabled="" value="<%= @business.url%>">
     </div>
  </div>
  <div class="row">
   <div class="form-group">
      <div class="col-md-6">
         <label>Outras informações</label>
         <textarea class="form-control" row="5" disabled="" value="<%= @business.other%>"></textarea>
      </div>
   </div>
</div>
  </div>
 <br>
<div class="row">
<div class="form-group">
    <div class="col-md-1">
<%= link_to edit_business_path, class: "btn btn-warning" do %>
    <i class="fa fa-pencil-square-o"></i> Editar
<% end %>
</div>
<div class="col-md-1">
<%= link_to businesses_path, class: "btn btn-default" do %>
    <i class="fa fa-reply"></i> Voltar
<% end %>
</div>
</div>
</div>
