<!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                <%=image_tag('logo.png')%>
                </a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right ">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-building-o fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/businesses/new/"><i class="fa fa-file-o"></i> Nova Empresa </a>
                        </li>
                        <li><a href="/businesses/"><i class="fa fa-list-ul"></i> Ver Todas </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-users fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/contacts/new"><i class="fa fa-file-o"></i> Novo Contato </a>
                        </li>
                        <li><a href="/contacts/"><i class="fa fa-list-ul"></i> Ver Todos </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-database fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                                    <%= link_to businesses_path(format: :csv) do %>
    <i class="fa fa-download"></i> Empresas</li>
<% end %>     
                                </li>
                                <li>
                                    <%= link_to contacts_path(format: :csv) do %>
    <i class="fa fa-download"></i> Contatos</li>
    <% end %> 
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar " role="navigation">
                <div class="sidebar-nav navbar-collapse collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form form-group">
                                <!--<input type="text" class="form-control" placeholder="Pesquisar...">-->
                                <%= form_tag(businesses_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "", class: "form-control"  %>           <button class="btn btn-default" type="submit">
                                    Pesquisar <i class="fa fa-search"></i>
                                </button>
                                <% end %>
                                
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/"><i class="fa fa-dashboard fa-fw"></i> Painel Central</a>
                        </li>
                        <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#business"><i class="fa fa-building-o fa-fw"></i> Empresas<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse" id="business">
                                <li>
                                    <a href="/businesses/new"><i class="fa fa-file-o"></i> Adicionar Nova</a>
                                </li>
                                <li>
                                    <a href="/businesses/"><i class="fa fa-list-ul"></i> Ver Todas</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                             <a href="javascript:;" data-toggle="collapse" data-target="#contact"><i class="fa fa-users fa-fw"></i> Contatos<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse" id="contact">
                                <li>
                                    <a href="/contacts/new"><i class="fa fa-file-o"></i> Adicionar Novo</a>
                                </li>
                                <li>
                                    <a href="/contacts/"><i class="fa fa-list-ul"></i> Ver Todos</a>
                                </li>
                    </ul>
                        <li>
                             <a href="javascript:;" data-toggle="collapse" data-target="#download"><i class="fa fa-database fa-fw"></i> Exportar<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse" id="download">
                                <li>
                                    <%= link_to businesses_path(format: :csv) do %>
    <i class="fa fa-download"></i> Empresas</li>
<% end %>     
                                </li>
                                <li>
                                    <%= link_to contacts_path(format: :csv) do %>
    <i class="fa fa-download"></i> Contatos</li>
<% end %>     
                    </ul>               
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>