<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nome" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :position, "Cargo" %><br>
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :phone, "Telefone" %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :ramal, "Ramal" %><br>
    <%= f.text_field :ramal %>
  </div>
  <div class="field">
    <%= f.label :email, "Email"%><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :business_id, "Empresa" %><br>
    <%= f.collection_select(:business_id, Business.all.order(:corporate_name), :id, :corporate_name)%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
